#fancy-toolbar {
  list-style: none;
  text-align: center;
  margin: 64px auto 0 auto;
  padding: 0;
  width: 100%;
}

.ft-item {
  cursor: pointer;
  display: inline-block;
  margin-top: 64px;
  height: 64px;
  width: 64px;
}

.ft-item img {
  height: 100%;
  width: 100%;
}
